@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans';
    
    
}
body
{
    margin: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    background-image: url(img/galexy.gif);
    /* background-color: #f3f3f3; */
}
a
{
    text-decoration: none;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000%;
    min-height: 1000%;
    background: #ffffff;
    margin: 0px;
    box-shadow: 0 35px 30px rgba(0,0,0,0.1);
}
.top
{
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg,#231fbf,#69175f);
    padding: 50px;
}
h2
{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.7em;
    letter-spacing: 0.01em;
}
h2 span
{
    font-size: 0.4em;
    font-weight: 300;
}
.group
{
    position: relative;
    display: grid;
    gap: 40px;
    width: 100%;
    grid-template-columns: 2fr 3fr;
}
.group .imgBx
{
    width: 100%;
}
.group p
{
    color: #fff;
    font-size: 1.05em;
}
.bottom
{
    position: relative;
    display: inline-flex;
    margin: 50px 50px 0;
    gap: 100px;
    grid-template-columns: 2fr 3fr;
}
.bottom .left_side
{
    margin-top: 50px;
}
h4
{
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #fff;
    background: #231fbf;
    font-weight: 600;
    padding: 0 15px;
    margin-top: 40px;
    display: inline-flex;
}
.contactInfo
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px 0;
}
.contactInfo li
{
    list-style: none;
    display: flex;
    gap: 5px;
}
.contactInfo li .icon
{
    color: #231fbf;
}
.contactInfo li .icon .text
{
    color: #555;
}
.skills
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}
.skills .skillsBox
{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
}
.skills .skillsBox p
{
    color: #333;
}
.skills .skillsBox .value 
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #eee;
}
.skills .skillsBox .value::before 
{
    content: '';
    position: absolute;
    width: var(--i);
    height: 100%;
    background: #231fbf;
}
.adjstMargin
{
    margin-top: 91px;
}
.kmutnb_group
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}
.kumtnb_groupBx 
{
    position: relative;
    display: block;
    grid-template-columns: 1fr 3fr;
}
.kumtnb_groupBx I
{
    font-weight: 600;
    color: #69175f;
}
.kumtnb_groupBx p:nth-child(1)
{
    font-weight: 500;
}
.kumtnb_groupBx b
{
    font-weight: 600;
    color: #231fbf;
}
.kumtnb_groupBx b span
{
    position: relative;
    top:-2px;
    font-size: 0.8em;
    color: #666;
}
.hobbies
{
    padding: 0 50px 50px;
}
.hobbies ul
{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;
}
.hobbies ul li 
{
    list-style: none;
    color: #333;
    width: calc(100% / 3);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #f3f3f3;
    text-align: center;
    cursor: pointer;
}
.hobbies ul :hover
{
    background: #231fbf;
    color: #fff;
}
.hobbies ul li i
{
font-size: 2em;
}

.face
{
    width: 100px;
    height: 100px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 71%;
    margin-left: -425px;
    margin-top: 450px;
}
.eye
{
    width: 30px;
    height: 30px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: 20px;
    overflow: hidden;
}

.eye:nth-child(1){
    left: 55px;
}
.eye:nth-child(2){
    right: 55px;
}

.pupil
{
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.lips{
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 200%;
    margin-left: -200px;
    border: 5px solid #000;
    border-color: transparent transparent #000 transparent;
}
.yourWelcome h1
{
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    margin-top: -200px;
    animation: text-animation 20s infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes text-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-1%);
    }
}
.share
{
    text-align: center;
}
